/*** CANCEL ***/
html, body, main { width: 100%; height: 100%; }
main {// min-height: 100%; }
/*** END CANCEL ***/

/*** Z-INDEXES ***/
.u-wheel-area-canvas { position: relative; z-index: 10; }
.u-wheel-button,
.u-wheel-area-thingy { position: relative; z-index: 20; }

.info label { position: relative; z-index: 100; }
/*** END Z-INDEXES ***/

/*** COLORS ***/
body, html { background-color: #eee; }

.info,
.u-wheel-button-img,
.u-btn_cta { background-color: black; }

.info-step-hr { background-color: white; }
.info, .info *,
.u-btn_cta { color: white; }
/*** END COLORS ***/

/*** FONTS ***/
@font-face{
	font-family:"Megatech";src:url("../../assets/fonts/MegatechAlt.ttf");/*src:url("../../assets/fonts/ALPHABETH.eot") format("embedded-opentype"),url("../../assets/fonts/ALPHABETH.woff2") format("woff2"),url("../../assets/fonts/ALPHABETH.woff") format("woff"),url("../../assets/fonts/ALPHABETH.ttf") format("trutype"),url("../../assets/fonts/ALPHABETH.svg") format("svg");*/}
@font-face{
	font-family:"Megatech Blank";src:url("../../assets/fonts/MegatechAltBold.ttf");/*src:url("../../assets/fonts/ALPHABETH.eot") format("embedded-opentype"),url("../../assets/fonts/ALPHABETH.woff2") format("woff2"),url("../../assets/fonts/ALPHABETH.woff") format("woff"),url("../../assets/fonts/ALPHABETH.ttf") format("trutype"),url("../../assets/fonts/ALPHABETH.svg") format("svg");*/}
@font-face{
	font-family:"Arial Black";src:url("../../assets/fonts/ariblk.ttf");/*src:url("../../assets/fonts/ALPHABETH.eot") format("embedded-opentype"),url("../../assets/fonts/ALPHABETH.woff2") format("woff2"),url("../../assets/fonts/ALPHABETH.woff") format("woff"),url("../../assets/fonts/ALPHABETH.ttf") format("trutype"),url("../../assets/fonts/ALPHABETH.svg") format("svg");*/}

.header-title { font-family: "Megatech"; }
 {font-family:"Arial Black", sans-serif;}

.header-title { font-size: 1.9em; }
.u-btn_cta { font-size: 1.25em; }

.footer,
.header,
.info-step-count,
.info-step-p,
.nav-content { text-align: center; }

.footer a { text-decoration: underline; }
/*** END FONTS ***/

/*** MEDIA ***/
.pg-product .header-nav .u-btn_cta.for-info { background-image: url("/assets/images/icon_info_white.png"); }
.u-btn_cta {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40%;
}

.u-wheel-button-img { background-image: url("/assets/images/icon_treasure_monochrome.png"); }
.u-wheel-button-img {
	background-repeat: no-repeat;
	background-position: center 19%;
	background-size: 50%;
}
/*** END MEDIA ***/

/*** UTILITIES ***/
	/*** .u-btn_cta ***/
	.u-btn_cta {
		display: inline-block;
		padding: .5em 1em;
		margin: 1em auto;
		
		border-radius: 7em;
	}

	/*** .u-wheel ***/
	.u-wheel, .u-wheel-area { width: 100%; }
	.u-wheel {
		margin: 0 auto;
		padding: 0 1em;
	}
	.u-wheel-area {
		position: relative;
//		overflow: hidden; /* cuts at green */
	}
	.u-wheel-area-canvas {
		width: 100%;
	}
	.u-wheel-area-thingy {
		position: absolute; top: 0; left: 0; right: 0;
		/*
		nav: "";
		position: absolute; top: 0; left: 0; right: 0;
		*/
		width: 0; height: 0;
		margin: 0 auto;
		
		border-left: 1em solid transparent;
		border-right: 1em solid transparent;
		border-top: 1.9em solid black;
	}
	.u-wheel-button {
		position: absolute; bottom: 0; left: 0; right: 0;
		display: block;
		width: 19%;
		margin: 0 auto;
		
		overflow: hidden;
	}
	.u-wheel-button-img {
		border-radius: 50%;
	}
		/*
	.u-wheel-button-img {
		position: relative; top: 50%;
		border-radius: 50%;
		
		background-color: purple;
	}
		*/
/*** END UTILITIES ***/

/*** COMPONENTS ***/
	/*** COMMONS ***/
	main { display: flex; }
	main { flex-direction: column; }
	.nav { flex: 1; }
	
	/*** .header ***/
	.header {
		padding: 1.9em 1em;
	}
	
	/*** .nav ***/
	.nav-content {
		width: 100%;
		padding: 1.9em;
	}
/*** END COMPONENTS ***/

/*** PAGE: PRODUCT ***/
	/*** COMMONS ***/
	.pg-product .u-product { flex: 1; }
	
	/*** .footer ***/
	.footer {
		padding: 1em;
	}

	/*** .header ***/
	.pg-product .header { display: flex; }
	.pg-product .header { align-items: center; }
	.pg-product .header-spacer { flex: 1; }
	
	.pg-product .header .u-btn_cta { margin: initial !important; }
	
	/*** .info ***/
	.info {
		padding: 1em;
		margin-bottom: 1.9em;
	}
	.info-step {
		padding: 1em;
	}
	.info-step-count {
		display: block;
	}
	.info-step-hr {
		width: 100%; height: .19em;
		display: block;
		margin-bottom: .7em;
	}
/*** END PAGE: PRODUCT ***/

/*** INTERRACTIVITY ***/
.u-wheel-button-img,
.u-btn_cta { cursor: pointer; }

.info { display: none; }
#chkbx4info:checked ~ main .info { display: flex !important; }
/*** END INTERRACTIVITY ***/

/*** MEDIA-QUERIES ***/
@media screen and (max-width: 50em) {
	* { font-size: 14px; }
	
	.u-wheel-button-img { position: relative; bottom: -7vw !important; }
	
	/*** PAGE: PRODUCT | .header ***/
	.pg-product .header { flex-direction: column-reverse; }
	
	.pg-product .header-nav div:nth-child(2) {// margin: 1em 0; }
}
@media screen and (min-width: 50em) {
	* { font-size: 18px; }
	
	.u-wheel { max-width: 70%; }
	.u-wheel-button-img { position: relative; bottom: -4vw !important; }
	
	/*** PAGE: PRODUCT | .header ***/
	.pg-product .header-nav { display: flex; }
	.info-step { flex: 1; }
	
	.pg-product .header-nav div:nth-child(2) { margin: 0 1em; }
}
/*** END MEDIA-QUERIES ***/

/*** DECORATION ***/
	/*** .d-cssCentered ***/
	.d-cssCentered {
		display: flex;
		align-items: center;
		justify-nav: center;
	}
	
	/*** .d-midWrap ***/
	.d-midWrap {
		width: 100%; max-width: 75em;
		margin: 0 auto;
	}
/*** END DECORATION ***/

/*** CSS-HACKS ***/
main {
	padding: 0 1em;
}
/*** END CSS-HACKS ***/