---
layout: default
---
		<main class="d-midWrap">
			<header class="header">
				<h1 class="header-title">WonderVault</h1>
			</header>
			
			<section class="nav d-cssCentered">
				<div class="nav-content">
					<span>If you're not sure which product you're looking for, try our product of the month!</span>
					<br />
					
					<span id="jsProduct" class="u-btn_cta">Product of the Year</span>
					<a href="/specials" class="u-btn_cta">View Specials</a>
				</div>
			</section>
		
			<section class="u-wheel">
				<div id="wheel" class="u-wheel-area">
					<span class="u-wheel-area-thingy"></span>
					<canvas id="canvas" class="u-wheel-area-canvas"></canvas>
					
					<span class="u-wheel-button"><img id="jsWheel" src="/assets/images/placeholder-1x1.png" class="u-wheel-button-img" /></span>
				</div>
			</section>
		</main>
		
		<script src="/assets/scripts/www-dot-corporomalala-dot-com.js"></script>